/* font-family: 'Titillium Web', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
 * Strictly main site
*/

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: #3d199e;
}
::-moz-selection {
  background: #a86d00;
}

::-webkit-calendar-picker-indicator {
  filter: invert(.8);
}

html {
  height: 100%;
}

body {
  background-color: #1f1c1c;
  font-family: 'Titillium Web', sans-serif;
  color: #eee;
}

header {
  background-color: #3e7eb3;
  padding: 1.5vh 0;
  /*border-bottom: #ffffff 1px solid;*/
  /*border-radius: 0 0 1em 1em;*/
  box-shadow: #000000 0px 4px 16px;
  width: 100%;
  margin: auto;
}

header h1 {
  font-family: 'Titillium Web', sans-serif;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  width: 40%;
}

main {
  min-height: calc(100vh - 9vh);
}

main .content {
  width: 75%;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  margin-top: 4vh;
  width: 100%;
  text-align: center;
  height: 5vh;
  background-color: #3e7eb3;
  box-shadow: #000000 0px -2px 12px;
  color: #ffffff;
}

footer p {
  font-size: 0.95em;
  font-family: 'Raleway';
  margin: auto auto;
  text-align: center;
}

h2 {
  margin: 0.5em 0.25em;
}

.login-data:last-child {
  margin-top: 1em;
  margin-bottom: 1em;
}

.login-data {
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3e7eb3;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  font-size: 1.2em;
  /*border-radius: 1em 1em 1em 1em;*/
}

.login-data h2 {
  font-size: 1.75em;
}

.content .user-info {
}

.fancy-border {
  --border-size: 1em;
  --border-bigger-size: calc(var(--border-size) * 3);
  /*border-radius: var(--border-size) var(--border-size) var(--border-size) var(--border-size);*/
  background-color: #3e7eb3;
  padding: 3em 5em;
}

/*
 * Input formats
*/

input {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  border: none;

  background-color: #292929;
  padding: 15px;
  transition: all 0.5s;
}

input.round-input {
  border-radius: 1em;
}

input.table-input {
  margin: 0;
  padding: 0 5%;
  border-radius: 0;
  text-align: left;
  height: 100%;
}

input[type=text], input[type=password], input[type=date], input[type=number]  {
  width: 100%;
}

input[type=text]:hover, input[type=password]:hover, input[type=date]:hover, input[type=number]:hover  {
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=number]:focus {
  background-color: #181818;
}
input[type=text]::placeholder, input[type=password]::placeholder, input[type=number]::placeholder {
  color: #888888;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=checkbox] {
  margin: 0;
}

select {
  display: block;
  background-color: #494949;
  color: #fff;
  width: 100%;
  height: 3em
}

input[type=submit] {
  background-color: #303030;
  width: calc(45% - 1.4em);
  padding: 0.7em;
  text-align: right;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.3s;
  display: block;
  text-align: center;
  cursor: pointer;
}

input[type=submit]:hover {
  color: #383a35;
  background-color: #fff;
}


#submit-save-receipt {
  min-width: 100px;
  max-width: 200px;
}

input[type=text].table-text-input {
  margin: auto;
  border-radius: 0;
  text-align: left;
  display: block;
  width: 100%;
}

input[type=date], #form-receipt-price {
  width: 200px;
  display: block;
  border: 2px #6b6b6b solid;
  text-align: right;
}

input[type="checkbox"].person-checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: #9a2323;
  float: right;
  margin: 0.1em 0.1em;
  width: 1em;
  height: 1em;
  border: 2px black solid;
  
  place-content: center;
}

input[type="checkbox"].person-checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"].person-checkbox:checked::before {
  transform: scale(1);
}

input[type="checkbox"].person-checkbox:checked {
  background-color: green;
}

input#form-receipt-price::before {
  content: "zsdflsdkjfs";
}

input#form-receipt-price::after {
  content: "zł";
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.1s;
}

a:hover {
  text-decoration: underline;
}

/*
 * Table format
*/

table {
  border-collapse: collapse;
}

table#table-person-list {
  width: 100%;
}

table td, table th{
  padding: 0.4em 0.8em;
  text-align: center;
}

table td {
  /*border: 1px #b1b1b1 solid;*/
}

table td.td-money {
  text-align: right;
}

table tr:first-child, td:first-child{
}

table tr:nth-child(odd) {
  background-color: #2c2c2c;
}

table tr {
  background-color: #3b3b3b;
}

table tr:not(tr:first-child):hover{
  background-color: #1d1d1d;
  cursor: pointer;
}

/* */
table tr td.paid {
  background-color: #3b8b16;
  transition: 0.5s all;
}

table tr td.paid::before {
  content: 'Tak';
}

table tr td.not-paid {
  background-color: #a0451b;
  transition: 0.5s all;
}

table tr td.not-paid:hover, table tr td.alignment:hover {
  transform: scale(1.08) translateX(4%);
  background-color: #ffffff;
  color: #161616;
  transition: 0.4s all;
}

table tr td.not-paid:hover::before {
  content: 'Zmień';
}

table tr td.not-paid::before {
  content: 'Nie';
}

/* */
.content .receipt-info {
  display: grid;
  grid-template-columns: auto auto;
}

div.receipt-left-side {
  margin-right: 25%;
}


textarea {
  box-sizing: border-box;
  margin-top: 2vh;
  width: 100%;
  height: 20vh;
  font-size: 1.0rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;

  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border: 1px solid #ccc;
  resize: none;

  background-color: #161616;
  color: #eee;
  transition: 0.3s all;
}

textarea:focus, input:focus {
  outline: none !important;
  border: #96fffa 1px solid;
  transition: 0.3s all;
}

input[type="file"] {
  display: none;
}

.receipt-image-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 2vh;
  cursor: pointer;
}

div#error-informer {
  color: #f5ca53;
  white-space: pre-wrap;
}

/* Autocompleteness */
.autocomplete {
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 2px solid #888;
  z-index: 100;

  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  text-align: left;
  padding: 10px;
  cursor: pointer;
  background-color: #363636;
  border-bottom: #888 1px solid;
}

.autocomplete-items div:hover {
  background-color: #aaa;
}

.autocomplete-active {
  background-color: #2627ba !important;
  font-weight: bolder;
  color: #bebebe;
}

.money {

}

.error-list {
  color: red;
  text-align: center;
  background-color: #3a3a3a;
  margin-bottom: 2.5em;
  padding: .3em .6em;
  max-width: 310px;
  margin: auto;
}