
div.messages-queue {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;

  background-color: #ffffffee;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem 0 1.5rem;
  width: 20%;
  border-radius: 15px;
}

div.messages-queue h2 {
  text-align: center;
  color: #000;
}

div.messages-queue-item {
  font-weight: bolder;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

div.messages-queue-item span {
  text-align: right;
}

div.messages-queue div.message-info {
  color: green;
}

div.messages-queue div.message-error {
  color: red;
}

div.messages-queue div.message-warning {
  color: orange;
}

div.messages-queue div.message-other {
  color: pink;
}
